'Create your Survey Gorilla Account!'
<input type="submit" value="Register!">
<!-- Username
name
email
password

<button sign up button
  <a href="/users/show">Sign Up!</a> (this should send you to the users new profile page.) -->
<a href="/">Home</a>
