
<!-- Username
name
email
password

<button sign up button
  <a href="/users/show">Sign Up!</a> (this should send you to the users new profile page.) -->
<header><h2>Register New Account</h2></header>
<form action="/users" method="POST">
<label for="user[name]">Name:</label>
<input type="text" name="user[name]" placeholder="Enter your name">
<label for="user[username]">Username:</label>
<input type="text" name="user[username]" placeholder="Choose a username">
<label for="user[email]">Email:</label>
<input type="email" name="user[email]" placeholder="Enter your email">
<label for="user[password]">Password:</label>
<input type="password" name="user[password]" placeholder="Decide on a strong password">
<input type="submit" value="Submit!">
</form>
