'this is the page that creates a new survey'

<!-- Title
Question
Choice
  add choice button
add question button
save survey
  This should redirect back to the profile page after a pop up says that it has been successfully created -->

<a href="/">Home</a>
