'this shows a individual survey that you can take'
<!--
Survey title
each question
  answer 1
  answer 2
submit button
  (<a href="users/:user_id/show">Submit Survey</a> this should take them back to their profile page  after a pop-up that tells them their survey has been completed-->
<a href="/">Home</a>
