'Welcome to Survey Gorilla!'
<!-- this page needs to be able to login
needs a register button that sends you to the users/new page -->


<a href="users/new">users/new</a>
<a href="users/show">users/show</a>
<a href="surveys/new">surveys/new</a>
<a href="surveys/show">surveys/show</a>
<a href="surveys/results">surveys/results</a>

