<style>
body {
  background-image: url("https://images.unsplash.com/photo-1414115880398-afebc3d95efc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=351469a7c85aa03f37da9f8f159ac5ab"); background-size: cover;
}
</style>

    <!-- Banner -->
      <section id="banner">
        <h2>Survey Gorilla</h2>
        <ul class="actions">
          <li><a href="/users/new" class="button special big">Try now for free</a></li>
        </ul>
      </section>

