'this is index'

<a href="users/new">users/new</a>
<a href="users/show">users/show</a>
<a href="surveys/new">surveys/new</a>
<a href="surveys/show">surveys/show</a>
<a href="surveys/results">surveys/results</a>

